.card {
    margin-bottom: 1.5rem;
    width: 48%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background-color: #ffffff;
    transition: box-shadow, transform 300ms ease-in-out;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);

    /* cursor: pointer; */

}



.card .team img {

    margin-right: 0.5rem;

}

.card .team span {

    color: black;
    font-weight: 500;


}


.card .box {

    display: flex;
    justify-content: space-between;

    padding: 0.7rem 1rem;


}

.card hr {
    opacity: 0.2;
    margin: 0.2rem 1rem 0.5rem 1rem;
}


.card span,
.card button {

    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;


}


.card .score span {
    font-weight: 600;
    

}



.card button {
    color: var(--blue);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border: none;
    background-color: white;
    font-size: 1rem;
    padding: 0 1rem;
    cursor: pointer;
 
}

.card button:hover {
    background-color: rgb(239, 246, 255);
}

.card .live {
    color: var(--orange);
 
    font-weight: 600;

}

.card .completed {
    font-weight: 600;
    color: #ef4444;
}

.card .upcoming {
    color: var(--tx);
    font-weight: 600;
}

/* hover */

.card:hover {
    box-shadow: 2px 2px 1px lightgray;
    transform: translateY(-4px);
}


.card .status{
    
    font-weight: 600;
    margin: 0.5rem 1rem;
    
}

.card .card-header{
    display: flex;
    justify-content: space-between;
    /* padding: 0.7rem 1rem; */
}

.card .card-header .status{
    font-weight: 500;

}
 