.bat-table {

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: space-around;
}

.bat-table td,
.bat-table th {
    text-align: start;
    padding: 8px 12px;
}


.bat-table {
    margin-top: 1rem;
    /* background-color: red; */
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0;
}

.bat-table th {
    background: #f8f9fa;
    text-align: left;
    color: var(--tx-light);
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1;
}


.bat-table td:last-child,
.bat-table th:last-child {
    text-align: right;

}


table tr:last-child {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: relative;
}
.team-hide{
    display: none;
}