.past {

    margin: 0 auto;
    padding: 2rem 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.cards {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


}

.past h2{
 
    line-height: 1.75;
   
    /* color: red; */
}

.past p{
     color: var(--tx);
    
}