.score-page {

    padding: 1rem 1.5rem;


}

.score-page .teams-tab {
    display: flex;
    gap: 1rem;
}

.teams-tab,
.view-tab {
    margin-bottom: 1rem;

}

.teams-tab + hr {
    margin-bottom: 1rem;
    color: var(--tx-light);
    opacity: 0.2;

}

@media(max-width:770px){
    .score-page{
          padding: 1rem 1rem;
    }
}

@media(max-width:480px){
    .score-page{
          padding: 1rem 0.5rem;
    }
}