.score {

    padding: 1rem 1.5rem;


}

.score .teams-tab {
    display: flex;
    gap: 1rem;
}

.teams-tab,
.view-tab {
    margin-bottom: 1rem;

}

.teams-tab + hr {
    margin-bottom: 1rem;
    color: var(--tx-light);
    opacity: 0.2;

}